<aside b-a82fcxnrsw="" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" data-bg-class="bg-menu-theme" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

    <!-- ! Hide app brand if navbar-full -->
    <div b-a82fcxnrsw="" class="app-brand demo">
        <a b-a82fcxnrsw="" href="https://demos.themeselection.com/sneat-bootstrap-html-laravel-admin-template/demo-2" class="app-brand-link">
            <span b-a82fcxnrsw="" class="app-brand-logo demo">
                <svg b-a82fcxnrsw="" width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs b-a82fcxnrsw="">
                        <path b-a82fcxnrsw="" d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z" id="path-1"></path>
                        <path b-a82fcxnrsw="" d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z" id="path-3"></path>
                        <path b-a82fcxnrsw="" d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z" id="path-4"></path>
                        <path b-a82fcxnrsw="" d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z" id="path-5"></path>
                    </defs>
                    <g b-a82fcxnrsw="" id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g b-a82fcxnrsw="" id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                            <g b-a82fcxnrsw="" id="Icon" transform="translate(27.000000, 15.000000)">
                                <g b-a82fcxnrsw="" id="Mask" transform="translate(0.000000, 8.000000)">
                                    <mask b-a82fcxnrsw="" id="mask-2" fill="white">
                                        <use b-a82fcxnrsw="" xlink:href="#path-1"></use>
                                    </mask>
                                    <use b-a82fcxnrsw="" fill="#696cff" xlink:href="#path-1"></use>
                                    <g b-a82fcxnrsw="" id="Path-3" mask="url(#mask-2)">
                                        <use b-a82fcxnrsw="" fill="#696cff" xlink:href="#path-3"></use>
                                        <use b-a82fcxnrsw="" fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                                    </g>
                                    <g b-a82fcxnrsw="" id="Path-4" mask="url(#mask-2)">
                                        <use b-a82fcxnrsw="" fill="#696cff" xlink:href="#path-4"></use>
                                        <use b-a82fcxnrsw="" fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                                    </g>
                                </g>
                                <g b-a82fcxnrsw="" id="Triangle" transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                                    <use b-a82fcxnrsw="" fill="#696cff" xlink:href="#path-5"></use>
                                    <use b-a82fcxnrsw="" fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </span>
            <span b-a82fcxnrsw="" class="app-brand-text demo menu-text fw-bold ms-2">Sneat</span>
        </a>

        <a b-a82fcxnrsw="" href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block">
            <i b-a82fcxnrsw="" class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div b-a82fcxnrsw="" class="menu-inner-shadow"></div>

    <ul id="rightMenue" b-a82fcxnrsw="" class="menu-inner py-1 ps ps__rtl ps--active-y">








        <li b-a82fcxnrsw="" class="menu-item active open">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-home-circle"></i>
                <div b-a82fcxnrsw="">Dashboards</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item active">
                    <a b-a82fcxnrsw="" href="https://demos.themeselection.com/sneat-bootstrap-html-laravel-admin-template/demo-2" class="menu-link">
                        <div b-a82fcxnrsw="">Analytics</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="/Accounts" class="menu-link">
                        <div b-a82fcxnrsw="">اکانت</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="dashboard/ecommerce.html" class="menu-link">
                        <div b-a82fcxnrsw="">eCommerce</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-layout"></i>
                <div b-a82fcxnrsw="">Layouts</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="layouts/collapsed-menu.html" class="menu-link">
                        <div b-a82fcxnrsw="">Collapsed menu</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="layouts/content-navbar.html" class="menu-link">
                        <div b-a82fcxnrsw="">Content navbar</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="layouts/content-nav-sidebar.html" class="menu-link">
                        <div b-a82fcxnrsw="">Content nav + Sidebar</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="layouts/horizontal.html" class="menu-link" target="_blank">
                        <div b-a82fcxnrsw="">Horizontal</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="layouts/without-menu.html" class="menu-link">
                        <div b-a82fcxnrsw="">Without menu</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="layouts/without-navbar.html" class="menu-link">
                        <div b-a82fcxnrsw="">Without navbar</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="layouts/fluid.html" class="menu-link">
                        <div b-a82fcxnrsw="">Fluid</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="layouts/container.html" class="menu-link">
                        <div b-a82fcxnrsw="">Container</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="layouts/blank.html" class="menu-link" target="_blank">
                        <div b-a82fcxnrsw="">Blank</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bxl-php"></i>
                <div b-a82fcxnrsw="">Laravel Example</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="laravel/user-management.html" class="menu-link">
                        <div b-a82fcxnrsw="">User Management</div>
                    </a>


                </li>
            </ul>
        </li>




        <li b-a82fcxnrsw="" class="menu-header small text-uppercase">
            <span b-a82fcxnrsw="" class="menu-header-text">Apps &amp; Pages</span>
        </li>









        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="app/calendar.html" class="menu-link">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-calendar"></i>
                <div b-a82fcxnrsw="">Calendar</div>
            </a>


        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-food-menu"></i>
                <div b-a82fcxnrsw="">Invoice</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="app/invoice/list.html" class="menu-link">
                        <div b-a82fcxnrsw="">List</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="app/invoice/preview.html" class="menu-link">
                        <div b-a82fcxnrsw="">Preview</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="app/invoice/edit.html" class="menu-link">
                        <div b-a82fcxnrsw="">Edit</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="app/invoice/add.html" class="menu-link">
                        <div b-a82fcxnrsw="">Add</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-user"></i>
                <div b-a82fcxnrsw="">Users</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="app/user/list.html" class="menu-link">
                        <div b-a82fcxnrsw="">List</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">View</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="app/user/view/account.html" class="menu-link">
                                <div b-a82fcxnrsw="">Account</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="app/user/view/security.html" class="menu-link">
                                <div b-a82fcxnrsw="">Security</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="app/user/view/billing.html" class="menu-link">
                                <div b-a82fcxnrsw="">Billing &amp; Plans</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="app/user/view/notifications.html" class="menu-link">
                                <div b-a82fcxnrsw="">Notifications</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="app/user/view/connections.html" class="menu-link">
                                <div b-a82fcxnrsw="">Connections</div>
                            </a>


                        </li>
                    </ul>
                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-check-shield"></i>
                <div b-a82fcxnrsw="">Roles &amp; Permissions</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="app/access-roles.html" class="menu-link">
                        <div b-a82fcxnrsw="">Roles</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="app/access-permission.html" class="menu-link">
                        <div b-a82fcxnrsw="">Permission</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-dock-top"></i>
                <div b-a82fcxnrsw="">Pages</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">User Profile</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/profile-user.html" class="menu-link">
                                <div b-a82fcxnrsw="">Profile</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/profile-teams.html" class="menu-link">
                                <div b-a82fcxnrsw="">Teams</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/profile-projects.html" class="menu-link">
                                <div b-a82fcxnrsw="">Projects</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/profile-connections.html" class="menu-link">
                                <div b-a82fcxnrsw="">Connections</div>
                            </a>


                        </li>
                    </ul>
                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Account Settings</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/account-settings-account.html" class="menu-link">
                                <div b-a82fcxnrsw="">Account</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/account-settings-security.html" class="menu-link">
                                <div b-a82fcxnrsw="">Security</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/account-settings-billing.html" class="menu-link">
                                <div b-a82fcxnrsw="">Billing &amp; Plans</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/account-settings-notifications.html" class="menu-link">
                                <div b-a82fcxnrsw="">Notifications</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/account-settings-connections.html" class="menu-link">
                                <div b-a82fcxnrsw="">Connections</div>
                            </a>


                        </li>
                    </ul>
                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="pages/faq.html" class="menu-link">
                        <div b-a82fcxnrsw="">FAQ</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Help Center</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/help-center-landing.html" class="menu-link">
                                <div b-a82fcxnrsw="">Landing</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/help-center-categories.html" class="menu-link">
                                <div b-a82fcxnrsw="">Categories</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/help-center-article.html" class="menu-link">
                                <div b-a82fcxnrsw="">Article</div>
                            </a>


                        </li>
                    </ul>
                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="pages/pricing.html" class="menu-link">
                        <div b-a82fcxnrsw="">Pricing</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Misc</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/misc-error.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Error</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/misc-under-maintenance.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Under Maintenance</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/misc-comingsoon.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Coming Soon</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="pages/misc-not-authorized.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Not Authorized</div>
                            </a>


                        </li>
                    </ul>
                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div b-a82fcxnrsw="">Authentications</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Login</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/login-basic.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Basic</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/login-cover.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Cover</div>
                            </a>


                        </li>
                    </ul>
                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Register</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/register-basic.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Basic</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/register-cover.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Cover</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/register-multisteps.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Multi-steps</div>
                            </a>


                        </li>
                    </ul>
                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Verify Email</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/verify-email-basic.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Basic</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/verify-email-cover.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Cover</div>
                            </a>


                        </li>
                    </ul>
                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Reset Password</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/reset-password-basic.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Basic</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/reset-password-cover.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Cover</div>
                            </a>


                        </li>
                    </ul>
                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Forgot Password</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/forgot-password-basic.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Basic</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/forgot-password-cover.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Cover</div>
                            </a>


                        </li>
                    </ul>
                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Two Steps</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/two-steps-basic.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Basic</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="auth/two-steps-cover.html" class="menu-link" target="_blank">
                                <div b-a82fcxnrsw="">Cover</div>
                            </a>


                        </li>
                    </ul>
                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-spreadsheet"></i>
                <div b-a82fcxnrsw="">Wizard Examples</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="wizard/ex-checkout.html" class="menu-link">
                        <div b-a82fcxnrsw="">Checkout</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="wizard/ex-property-listing.html" class="menu-link">
                        <div b-a82fcxnrsw="">Property Listing</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="wizard/ex-create-deal.html" class="menu-link">
                        <div b-a82fcxnrsw="">Create Deal</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="modal-examples.html" class="menu-link">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-window-open"></i>
                <div b-a82fcxnrsw="">Modal Examples</div>
            </a>


        </li>




        <li b-a82fcxnrsw="" class="menu-header small text-uppercase">
            <span b-a82fcxnrsw="" class="menu-header-text">Components</span>
        </li>









        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-collection"></i>
                <div b-a82fcxnrsw="">Cards</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="cards/basic.html" class="menu-link">
                        <div b-a82fcxnrsw="">Basic</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="cards/advance.html" class="menu-link">
                        <div b-a82fcxnrsw="">Advance</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="cards/statistics.html" class="menu-link">
                        <div b-a82fcxnrsw="">Statistics</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="cards/analytics.html" class="menu-link">
                        <div b-a82fcxnrsw="">Analytics</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="cards/gamifications.html" class="menu-link">
                        <div b-a82fcxnrsw="">Gamifications</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="cards/actions.html" class="menu-link">
                        <div b-a82fcxnrsw="">Actions</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-box"></i>
                <div b-a82fcxnrsw="">User interface</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/accordion.html" class="menu-link">
                        <div b-a82fcxnrsw="">Accordion</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/alerts.html" class="menu-link">
                        <div b-a82fcxnrsw="">Alerts</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/badges.html" class="menu-link">
                        <div b-a82fcxnrsw="">Badges</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/buttons.html" class="menu-link">
                        <div b-a82fcxnrsw="">Buttons</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/carousel.html" class="menu-link">
                        <div b-a82fcxnrsw="">Carousel</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/collapse.html" class="menu-link">
                        <div b-a82fcxnrsw="">Collapse</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/dropdowns.html" class="menu-link">
                        <div b-a82fcxnrsw="">Dropdowns</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/footer.html" class="menu-link">
                        <div b-a82fcxnrsw="">Footer</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/list-groups.html" class="menu-link">
                        <div b-a82fcxnrsw="">List groups</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/modals.html" class="menu-link">
                        <div b-a82fcxnrsw="">Modals</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/navbar.html" class="menu-link">
                        <div b-a82fcxnrsw="">Navbar</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/offcanvas.html" class="menu-link">
                        <div b-a82fcxnrsw="">Offcanvas</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/pagination-breadcrumbs.html" class="menu-link">
                        <div b-a82fcxnrsw="">Pagination &amp; Breadcrumbs</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/progress.html" class="menu-link">
                        <div b-a82fcxnrsw="">Progress</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/spinners.html" class="menu-link">
                        <div b-a82fcxnrsw="">Spinners</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/tabs-pills.html" class="menu-link">
                        <div b-a82fcxnrsw="">Tabs &amp; Pills</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/toasts.html" class="menu-link">
                        <div b-a82fcxnrsw="">Toasts</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/tooltips-popovers.html" class="menu-link">
                        <div b-a82fcxnrsw="">Tooltips &amp; popovers</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="ui/typography.html" class="menu-link">
                        <div b-a82fcxnrsw="">Typography</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-copy"></i>
                <div b-a82fcxnrsw="">Extended UI</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-avatar.html" class="menu-link">
                        <div b-a82fcxnrsw="">Avatar</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-blockui.html" class="menu-link">
                        <div b-a82fcxnrsw="">BlockUI</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-drag-and-drop.html" class="menu-link">
                        <div b-a82fcxnrsw="">Drag &amp; Drop</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-media-player.html" class="menu-link">
                        <div b-a82fcxnrsw="">Media Player</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-perfect-scrollbar.html" class="menu-link">
                        <div b-a82fcxnrsw="">Perfect scrollbar</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-star-ratings.html" class="menu-link">
                        <div b-a82fcxnrsw="">Star Ratings</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-sweetalert2.html" class="menu-link">
                        <div b-a82fcxnrsw="">SweetAlert2</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-text-divider.html" class="menu-link">
                        <div b-a82fcxnrsw="">Text Divider</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="javascript:void(0)" class="menu-link menu-toggle">
                        <div b-a82fcxnrsw="">Timeline</div>
                    </a>


                    <ul b-a82fcxnrsw="" class="menu-sub">



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="extended/ui-timeline-basic.html" class="menu-link">
                                <div b-a82fcxnrsw="">Basic</div>
                            </a>


                        </li>



                        <li b-a82fcxnrsw="" class="menu-item ">
                            <a b-a82fcxnrsw="" href="extended/ui-timeline-fullscreen.html" class="menu-link">
                                <div b-a82fcxnrsw="">Fullscreen</div>
                            </a>


                        </li>
                    </ul>
                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-tour.html" class="menu-link">
                        <div b-a82fcxnrsw="">Tour</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-treeview.html" class="menu-link">
                        <div b-a82fcxnrsw="">Treeview</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="extended/ui-misc.html" class="menu-link">
                        <div b-a82fcxnrsw="">Miscellaneous</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-crown"></i>
                <div b-a82fcxnrsw="">Icons</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="icons/boxicons.html" class="menu-link">
                        <div b-a82fcxnrsw="">Boxicons</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="icons/font-awesome.html" class="menu-link">
                        <div b-a82fcxnrsw="">Fontawesome</div>
                    </a>


                </li>
            </ul>
        </li>




        <li b-a82fcxnrsw="" class="menu-header small text-uppercase">
            <span b-a82fcxnrsw="" class="menu-header-text">Forms &amp; Tables</span>
        </li>









        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-detail"></i>
                <div b-a82fcxnrsw="">Form Elements</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/basic-inputs.html" class="menu-link">
                        <div b-a82fcxnrsw="">Basic Inputs</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/input-groups.html" class="menu-link">
                        <div b-a82fcxnrsw="">Input groups</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/custom-options.html" class="menu-link">
                        <div b-a82fcxnrsw="">Custom Options</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/editors.html" class="menu-link">
                        <div b-a82fcxnrsw="">Editors</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/file-upload.html" class="menu-link">
                        <div b-a82fcxnrsw="">File Upload</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/pickers.html" class="menu-link">
                        <div b-a82fcxnrsw="">Pickers</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/selects.html" class="menu-link">
                        <div b-a82fcxnrsw="">Select &amp; Tags</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/sliders.html" class="menu-link">
                        <div b-a82fcxnrsw="">Sliders</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/switches.html" class="menu-link">
                        <div b-a82fcxnrsw="">Switches</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="forms/extras.html" class="menu-link">
                        <div b-a82fcxnrsw="">Extras</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-detail"></i>
                <div b-a82fcxnrsw="">Form Layouts</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="form/layouts-vertical.html" class="menu-link">
                        <div b-a82fcxnrsw="">Vertical Form</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="form/layouts-horizontal.html" class="menu-link">
                        <div b-a82fcxnrsw="">Horizontal Form</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="form/layouts-sticky.html" class="menu-link">
                        <div b-a82fcxnrsw="">Sticky Actions</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-carousel"></i>
                <div b-a82fcxnrsw="">Form Wizard</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="form/wizard-numbered.html" class="menu-link">
                        <div b-a82fcxnrsw="">Numbered</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="form/wizard-icons.html" class="menu-link">
                        <div b-a82fcxnrsw="">Icons</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="form/validation.html" class="menu-link">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-list-check"></i>
                <div b-a82fcxnrsw="">Form Validation</div>
            </a>


        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="tables/basic.html" class="menu-link">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-table"></i>
                <div b-a82fcxnrsw="">Tables</div>
            </a>


        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-grid"></i>
                <div b-a82fcxnrsw="">Datatables</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="tables/datatables-basic.html" class="menu-link">
                        <div b-a82fcxnrsw="">Basic</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="tables/datatables-advanced.html" class="menu-link">
                        <div b-a82fcxnrsw="">Advanced</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="tables/datatables-extensions.html" class="menu-link">
                        <div b-a82fcxnrsw="">Extensions</div>
                    </a>


                </li>
            </ul>
        </li>




        <li b-a82fcxnrsw="" class="menu-header small text-uppercase">
            <span b-a82fcxnrsw="" class="menu-header-text">Charts &amp; Maps</span>
        </li>









        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="javascript:void(0);" class="menu-link menu-toggle">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-chart"></i>
                <div b-a82fcxnrsw="">Charts</div>
            </a>


            <ul b-a82fcxnrsw="" class="menu-sub">



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="charts/apex.html" class="menu-link">
                        <div b-a82fcxnrsw="">Apex Charts</div>
                    </a>


                </li>



                <li b-a82fcxnrsw="" class="menu-item ">
                    <a b-a82fcxnrsw="" href="charts/chartjs.html" class="menu-link">
                        <div b-a82fcxnrsw="">ChartJS</div>
                    </a>


                </li>
            </ul>
        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="maps/leaflet.html" class="menu-link">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-map-alt"></i>
                <div b-a82fcxnrsw="">Leaflet Maps</div>
            </a>


        </li>




        <li b-a82fcxnrsw="" class="menu-header small text-uppercase">
            <span b-a82fcxnrsw="" class="menu-header-text">Misc</span>
        </li>









        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="https://themeselection.com/support/" class="menu-link" target="_blank">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-support"></i>
                <div b-a82fcxnrsw="">Support</div>
            </a>


        </li>








        <li b-a82fcxnrsw="" class="menu-item ">
            <a b-a82fcxnrsw="" href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/laravel-introduction.html" class="menu-link" target="_blank">
                <i b-a82fcxnrsw="" class="menu-icon tf-icons bx bx-file"></i>
                <div b-a82fcxnrsw="">Documentation</div>
            </a>


        </li>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
        <div class="ps__rail-y" style="top: 0px; height: 310px; left: 254px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 60px;"></div></div>
    </ul>

</aside>
