
@font-face {
    font-family: 'IRANSansWeb';
}

@font-face {
    font-family: 'IRANSansWeb';
}

@font-face {
    font-family: 'IRANSansWeb';
}

body {
    font-family: "IRANSansWeb" !important;
    font-size: 20px;
    color: black !important;
}
.field-validation-error{
    color:red;
}

.cardList {
    margin-top: 22px;
}